.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea
decompiled/proguard-decompiled/original/META-INF
decompiled/proguard-decompiled/res
decompiled/baseline-decompiled/original/META-INF
decompiled/baseline-decompiled/res
decompiled/baseline-decompiled/original